In [1]:
#HOME
print("Hello world")

In [14]:
#Get Started
import sys
print(sys.version)

exit()

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]

In [1]:
#Syntax
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!") 

x = 5
y = "Hello, World!"
#This is a comment.

Five is greater than two!
Five is greater than two!

In [2]:
#Comments
print("Hello, World!") #This is a comment

#This is a comment
#written in
#more than just one line

"""
This is a comment
written in
more than just one line
"""

Hello, World!

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [3]:
#Variables
x = 5 # x is of type int
y = "John"
x = "Sally" # x is now of type str
print(x)
print(y)

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(type(x))
print(type(y))

x = "John"
# is the same as
x = 'John'


a = 4
A = "Sally"
#A will not overwrite a

Sally
John
<class 'str'>
<class 'int'>

In [12]:
#Variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

myVariableName = "John"

MyVariableName = "John"

my_variable_name = "John"

In [14]:
#Assign multiple value
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

x = y = z = "Orange"
print(x)
print(y)
print(z)

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry

In [15]:
#Output Variables

x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)


x = 5
y = "John"
print(x, y)

Python is awesome
Python is awesome
Python is awesome
15
5 John

In [16]:
#Global Variables

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)


def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome
Python is fantastic
Python is fantastic

In [33]:
#Python Data Types
'''
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''

x = 5
print(type(x))

'''
Example	Data Type
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType
'''

SyntaxError: invalid syntax (617397553.py, line 17)

In [21]:
#Python Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

import random

print(random.randrange(1, 10))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
6

In [4]:
#Python Casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [26]:
#Python Strings

print("Hello")
print('Hello')

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

a = "Hello"
print(a)

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

a = "Hello, World!"
print(a[1])

for x in "banana":
  print(x)

a = "Hello, World!"
print(len(a))

txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
e
b
a
n
a
n
a
13
True
Yes, 'free' is present.
True

In [27]:
#Slicing Strings
b = "Hello, World!"
print(b[2:5])

b = "Hello, World!"
print(b[:5])

b = "Hello, World!"
print(b[2:])

b = "Hello, World!"
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [28]:
#Modify Strings
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [29]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

In [30]:
#Format - Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt = f"The price is {price} dollars"
print(txt)

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars

In [10]:
#Escape Characters
txt = "We are the so-called \"Vikings\" from the north."
'''
Code	Result
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
'''

In [36]:
#String Methods
x = 'bubble gum'

x.capitalize()
'''
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''

'\nMethod\tDescription\ncapitalize()\tConverts the first character to upper case\ncasefold()\tConverts string into lower case\ncenter()\tReturns a centered string\ncount()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisascii()\tReturns True if all characters in the string are ascii characters\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle()\tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning\n'